.ClearMealsButton {
    position: relative;
    float: right;
    margin-right: 24px;
    height: 4rem;
    width: 40%;
    -webkit-transition: width 0.25s ease-in-out;
    transition: width 0.25s ease-in-out;
}

.ClearMealsButton.active {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $grid-gap;
    width: 80%;
}

@media only screen and (min-width: 1224px) {
    .ClearMealsButton {
        width: 15%;
    }

    .ClearMealsButton.active {
        width: 30%;
    }
}
