.FoodItemTools--one,
.FoodItemTools--two {
    background: $gray-color;
    padding: 0.75rem 12px;
}

.FoodItemTools--two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $grid-gap;
}

@media only screen and (min-width: 1224px) {
    .FoodItemTools--one,
    .FoodItemTools--two {
        box-shadow: 0 0 5px gray;
    }

    .FoodItemTools--two {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
