.HomePage {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 450px;
    padding: 0;
}

.HomePage__downArrow {
    display: block;
    position: absolute;
    right: 0; bottom: 10%; left: 0;
    text-align: center;
    color: white;
    text-shadow: 0 0 15px $theme-color;
    animation: bounce 2s ease-in-out infinite alternate;
}

.HomePage__smallDeviceLandingIconContainer {
    margin-bottom: 2rem;
    width: 100vw;

    .HomePage__landingIcon {
        margin: 0 auto;
        display: block;
        font-size: 8rem;
        text-align: center;
        border-radius: 50%;
        width: 40vw;
        height: 40vw;
        line-height: 40vw;
        color: $gray-color;
        text-shadow: 0 0 15px $theme-color;
        border: 2px solid $theme-color;
        box-shadow: 0 0 5px $theme-color;
        animation: float-landing-icon 2s ease-in-out infinite alternate;
    }
}

.HomePage__slide {
    position: relative;
    height: 100%;
    border-bottom: 1px solid $theme-color;
}

.HomePage__slide:last-of-type {
    border-bottom: none;
}

.HomePage__captionContainer {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;

    h1 {
        font-size: 1.6rem;
        color: $theme-color;
        margin: 0;
    }

    p {
        opacity: 0.7;
        margin-bottom: 1rem;
    }
}

.HomePage__buttonContainer {
    width: 60%;
}

.HomePage__buttonGetStarted {
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.4rem;
    min-width: 25%;
    padding: 6px $buffer-lg;
    background: $theme-color;
    border-radius: $border-radius;
    color: white;
}

@media only screen and (min-width: 1224px) {
    .HomePage__captionContainer {
        position: relative;
        top: 30%;
        transform: translateY(0);
        left: 0;
        text-align: left;

        h1 {
            font-size: 2rem;
        }

        p {
            margin-left: $buffer-lg;
        }
    }

    .HomePage__imgContainer {
        display: block;
        position: relative;

        img {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100%;
            max-height: 100%;
            box-shadow: 0 0 15px gray;
        }
    }

    .HomePage__slide {
        display: grid;
        grid-gap: 5rem;
        height: calc(100vh - 3rem);
    }

    .HomePage__slide:nth-child(odd) {
        grid-template-columns: 40% 60%;
    }

    .HomePage__slide:nth-child(even) {
        grid-template-columns: 60% 40%;
    }
}


@keyframes float-landing-icon {
    from {
        transform: rotate(-15deg);
    }
    to {
        transform: rotate(15deg);
    }
}

@keyframes bounce {
    from {
        transform: translateY(-8px);
    }
    to {
        transform: translateY(8px);
    }
}
