.LargeButton,
.LargeButton--submit,
.LargeButton--warning,
.LargeButton--disabled {
    height: 4rem;
    box-shadow: 0 1px 5px gray;
    margin: 0.5rem 0;
    width: 100%;
    color: white;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
}

.LargeButton--submit {
    background: $theme-color;
    margin-top: 1rem;
}

.LargeButton--submit:disabled {
    background: $disabled-color;
    cursor: not-allowed;
}

.LargeButton--warning {
    background: $error-color;
}

@media only screen and (min-width: 1224px) {
    .LargeButton,
    .LargeButton--submit,
    .LargeButton--warning,
    .LargeButton--disabled {
        display: block;
        width: 60%;
        margin: 0.5rem auto;
        border-radius: $border-radius;
        border: none;
    }

    .LargeButton--submit {
        margin-top: 2rem;
    }
}
