.NotFoundPage {
    position: absolute;
    top: 45%; right: 0; left: 0;
    transform: translateY(-50%);
}

.NotFoundPage__404 {
    color: $theme-color;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
}

.NotFoundPage__description {
    text-align: center;

    a {
        font-size: 1.2rem;
        color: $theme-color;
        text-decoration: none;
    }
}
