.Notification {
    background: $light-color;
    height: 4rem;
    padding-left: 12px;
    line-height: 4rem;
    font-size: 1.2rem;
    box-shadow: 0 0 5px gray;
    margin-bottom: 1rem;
}

.Notification .error {
    color: $error-color;
}

.Notification .success {
    color: $success-color;
}

@media only screen and (min-width: 1224px) {
    .Notification {
        margin: 0 $buffer-sm;
        margin-bottom: 1rem;
    }
}
