* {
    font-family: Helvetica, sans-serif;
}

.content-window {
    background: $gray-color;
    position: absolute;
    top: 3rem; right: 0; bottom: 3rem; left: 0;
    overflow-y: scroll;
    padding: 6px 0;
}

.route-enter {
    position: absolute;
    width: 100%; height: 100%;
    opacity: 0;
}

.route-enter.route-enter-active {
    opacity: 1;
    transition: opacity 0.25s ease-in;
}

.route-leave {
    position: absolute;
    width: 100%; height: 100%;
}

.route-leave.route-leave-active {
    transform: translateX(-100vw);
    opacity: 0;
    transition: all 0.25s ease-out;
}

.route-appear {
    opacity: 0;
}

.route-appear.route-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.route-appear {
    opacity: 0;
}

.route-appear.route-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

@media only screen and (min-width: 1224px) {
    .content-window {
        bottom: 0;
        padding: 0 10%;
    }

    ::-webkit-scrollbar {
        width: 1rem;
    }

    ::-webkit-scrollbar-track {
       -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
      background-color: darkgrey;
      outline: 1px solid slategrey;
    }
}
