$theme-color: rgb(65, 132, 225);
$theme-color-alpha: rgba(65, 132, 225, 0.8);
$disabled-color: #a0a6ab;
$light-color: #f7f8fa;
$gray-color: #f1f1f1;
$dark-color: #e4e4e4;

$cals-color: rgb(243, 210, 80);
$carbs-color: rgb(232, 169, 14);
$prot-color: rgb(191, 0, 0);
$fat-color: rgb(52, 158, 99);

$cals-color-alpha: rgba(243, 210, 80, 0.4);
$carbs-color-alpha: rgba(232, 169, 14, 0.4);
$prot-color-alpha: rgba(191, 0, 0, 0.4);
$fat-color-alpha: rgba(52, 158, 99, 0.4);

$error-color: #e14e41;
$success-color: #218838;

$border-radius: 4px;
$border-radius-lg: 18px;

$buffer-sm: 12px;
$buffer-lg: 24px;

$grid-gap: 12px;
